
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/CousineBold.ttf"); font-family : "Cousine"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/CousineRegular.ttf"); font-family : "Cousine"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/CousineItalic.ttf"); font-family : "Cousine"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/AmiriBold.ttf"); font-family : "Amiri"; font-weight : 700;  }